# Virtual environment
venv/
tmp/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# VS code
.vscode/
# Gimp
*.xcf
# images
*.png
*.jpg
*.log
setenv.bat
setenv.ps1
grep.txt
logs/