{% extends "base.html" %}
{% block content %}
    <div class="row p-3 rounded">
        <div class="col-12">
            <h1 style="text-align: center;">Add Message</h1>
        </div>
        <form class="row" method="POST" action="{{ url_for('add_message') }}">
            {{ form.hidden_tag() }}
            <div class="col-md-6 form-group">
                <div class="mb-3">
                    {{ form.date.label(class_='form-label') }}
                    {{ form.date }}
                    {% if form.date.errors %}
                    <ul class="errors">
                        {% for error in form.date.errors %}
                        <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.is_am_service.label(class_='form-label') }}
                    {{ form.is_am_service }}
                    {% if form.is_am_service.errors %}
                    <ul class="errors">
                        {% for error in form.is_am_service.errors %}
                        <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.description.label(class_='form-label') }}
                    {{ form.description }}
                    {% if form.description.errors %}
                    <ul class="errors">
                        {% for error in form.description.errors %}
                        <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 form-group">
                <div class="mb-3">
                    {{ form.title.label(class_='form-label') }}
                    {{ form.title }}
                    {% if form.title.errors %}
                    <ul class="errors">
                        {% for error in form.title.errors %}
                        <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.youtube_id.label(class_='form-label') }}
                    {{ form.youtube_id }}
                    {% if form.youtube_id.errors %}
                    <ul class="errors">
                        {% for error in form.youtube_id.errors %}
                        <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class_='form-label') }}
                    {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <a href="{{ url_for('list_messages')}}" class="btn btn-secondary">Back to Messages</a> {{ form.submit }}
            </div>
    </form>
    </div>
    
{% endblock %}
{% block scripts %}
{% endblock %}