{% extends "base.html" %}
{% block content %}
<div class="row p-3 rounded">
    <div class="col-12 nh-center" >
        <h1><i class="bi bi-x-circle" style="font-size: 2rem; color: rgb(209, 58, 38); padding-right:5px;"></i>Your transaction was canceled</h1>
        <p class="">If you have any questions please contact us.</p>
    </div>
</div>
<div class="row">
    <div class="col-6" style="text-align: right;">
        <a href="{{ url_for('donate') }}" class="btn btn-primary" style="width: 80px;">Back</a>
    </div>
    <div class="col-6">
        <a href="{{ url_for('index') }}" class="btn btn-primary" style="width: 80px;">Home</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}