{% extends "base.html" %}
{% block content %}
<div class="row p-3 nh-page-first-row rounded nh-page-first-row2">
    <div class="col-12 nh-center">
        <h1>Giving To New Hope Baptist Church</h1>
        <a href="#give-section" class="btn btn-primary" style="margin-top: 20px;">Give Online</a>
    </div>
</div>
<div class="row p-3 rounded">
    <div class="col-12">
        <p>
            <span class="nh-accent-text">Your donations help us to continue to serve as God directs. Our goal is to be great stewards of all with which He entrusts us. You can give online, through the mail, <b>or even better give in person</b>. We would be delighted to have you be a part of our services.</span>
            <br /><em>Every man according as he purposeth in his heart, so let him give; not grudgingly, or of necessity: for God loveth a cheerful giver.</em> <span style="font-weight: 300;">(2 Corinthians 9:7)</span>
        </p>
    </div>
    <div class="col-md-6">
        <p>Checks payable to <em>New Hope Baptist Church</em> may be sent to the following address:</p>
        <p>
            New Hope Baptist Church<br />
            2011 Lincoln Rd.<br />Allegan, MI 49010
        </p>
        <p>Our financials are available to members at anytime</p>
    </div>
    <div class="col-md-6">
        <p id="give-section" style="color: #0d6efd; font-weight: 600;">Enter a <em>whole-dollar</em> amount and click <em>Give Now</em> to go to our secure processing page. By clicking <em>Give Now</em> you are <b>not</b> confirming a payment. You will have an opportunity to enter your payment method details and review your transaction.</p>
        <div class="input-group mb-3">
            <input id="amount" name="amount" type="number" class="form-control" placeholder="$0">
            <div class="input-group-append">
              <button class="btn btn-primary" id="give-button" name="give-button" type="button" disabled data-bs-toggle="modal" data-bs-target="#staticBackdrop">Give Now</button>
            </div>
        </div>
    </div>
</div>
<div class="row p-3 rounded">
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modal-title" class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal-body" class="modal-body">&nbsp;</div>
        <div class="modal-footer">
          <button id="modal-close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="modal-accept-btn" type="button" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ url_for('static', filename='donateco.js') }}" defer></script>
<script>
    nhdata.configUrl = '{{ url_for("get_publishable_key") }}';
    nhdata.checkoutUrl = '{{ url_for("create_checkout_session") }}';
    
    $(document).ready(function(){
        DonateCoModule.init();
        var giveButton = document.getElementById('give-button');
        var amountInput = document.getElementById('amount');
        var modalButtonConfirm = document.getElementById('modal-accept-btn');
        var modalBody = $('#modal-body');
        var modalTitle = $('#modal-title');
        
        giveButton.addEventListener('click', function(event){
            var msg = `<p>Click <em>OK</em> to confirm the amount of <b>$${$(amountInput).val()}</b>. You will then be brought to the check-out page.<br \><br \>Click <em>Cancel</em> to enter a different amount.</p>`;
            modalBody.html(msg);
            modalTitle.text('Confirm');
        });

        // Add event for redirect

        amountInput.addEventListener('input', function(event){
            var amountTb = $(event.target);
            var amount = amountTb.val() || '';
            amount = amount.replace(/[^\d\.]/g,'');
            amountTb.val(amount);
            if(amount.length > 0 && parseInt(amount) > 0){
                $(giveButton).prop('disabled', false);
            }else{
                $(giveButton).prop('disabled', true);
            }
        });

        amountInput.addEventListener('blur', function(event){
            var amountTb = $(event.target);
            var amount = amountTb.val() || '';
            amount = parseInt(amount) || '';
            amountTb.val((amount.toString().length > 0 ? amount + '.00' : ''));
        });

        modalButtonConfirm.addEventListener('click', function(event){DonateCoModule.redirectToCheckout(event, amountInput);});
    });
</script>
{% endblock %}