{% extends "base.html" %}
{% block content %}
<div class="row p-3 nh-page-first-row rounded nh-page-first-row2">
    <div class="col-12 nh-center">
        <h1>Giving To New Hope Baptist Church</h1>
        <a href="#give-section" class="btn btn-primary" style="margin-top: 20px;">Give Online</a>
    </div>
</div>
<div class="row p-3 rounded">
    <div class="col-12">
        <h4>Praesent elementum facilisis</h4>
        <p>Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Ac felis donec et odio pellentesque diam. Suscipit adipiscing bibendum est ultricies. Mi proin sed libero enim sed faucibus. Amet volutpat consequat mauris nunc congue nisi vitae. Erat velit scelerisque in dictum non consectetur a erat. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Porttitor eget dolor morbi non arcu. Mus mauris vitae ultricies leo integer. Odio pellentesque diam volutpat commodo.</p>
    </div>
    <div class="col-md-6">
        <p>
            Augue interdum velit euismod in. In nisl nisi scelerisque eu. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Libero id faucibus nisl tincidunt eget nullam non nisi est. Vitae tempus quam pellentesque nec nam aliquam. Accumsan tortor posuere ac ut consequat semper viverra nam. Tempor orci eu lobortis elementum nibh tellus molestie. Vitae congue eu consequat ac. 
        </p>
    </div>
    <div class="col-md-6">
        <h5>Checks payable to <em>New Hope Baptist Church</em> are also accepted</h5>
        <p>Mail checks to the following address:</p>
        <p>
            New Hope Baptist Church<br />
            2011 Lincoln Rd.<br />Allegan, MI 49010
        </p>
        <p>Our financials are available to members at anytime</p>
    </div>
</div>
<div class="row p-3 rounded">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
        <p id="give-section">Enter your dollar amount and click <em>Give Now</em> to go to our secure check out.</p>
        <form action="{{ url_for('create_checkout_session') }}" method="post">
        <div class="input-group mb-3">
            <input name="amount" type="number" class="form-control" placeholder="$0.00">
            <div class="input-group-append">
              <button class="btn btn-primary" name="submit" type="submit">Give Now</button>
            </div>
          </div>
        </form>
    </div>
    <div class="col-sm-2 col-lg-3"></div>
</div>
{% endblock %}
{% block scripts %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='donate.css') }}" /> -->
<script src="https://js.stripe.com/v3/"></script>
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script> -->
<script src="{{ url_for('static', filename='donateco.js') }}" defer></script>
<script>

</script>
{% endblock %}