{% extends "base.html" %}
{% block content %}
<div class="bg-light p-3 rounded">
    <div class="">
    <h1>Giving to New Hope</h1>
    <p class="nh-body">My God, how majestic is your name in all the earth, who has set your glory above the heavens! From the lips of babes and infants you have established strength, because of your adversaries, that you might silence the enemy and the avenger. When I consider your heavens, the work of your fingers, the moon and the stars, which you have ordained; what is man, that you think of him? What is the son of man, that you care for him? For you have made him a little lower than God, and crowned him with glory and honor. You make him ruler over the works of your hands. You have put all things under his feet: All sheep and cattle, yes, and the animals of the field, The birds of the sky, the fish of the sea, and whatever passes through the paths of the seas. Yahweh, our LORD, how majestic is your name in all the earth!</p>
    <div>
        <form id="payment-form">
            <div id="card-element"></div>
            <div style="display: none;">
                <button id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay Now</span>
                </button>
                <p id="card-error" role="alert"></p>
                <p class="result-message hidden">
                    Payment succeeded, see the result in your <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                </p>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="$0.00">
                <button type="button" id="contribute-btn" class="btn btn-primary">Contribute</button>
            </div>
        </form>
    </div>
    <p class="lead nh-button" style="display:none;">
        <a href="#" class="btn btn-lg btn-primary" role="button">Learn More</a>
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="display:none;">Learn more</a>
    </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    // A reference to Stripe.js initialized with test publishable API key. 
    // Redirect to Stripe Checkout when clicked, using redirectToCheckout and providing the Checkout Session ID:
    var stripe = Stripe('pk_test_51IYdpzKkHVDoGTuCRaJG0e95sP0DTMeSpbU8jtUimopXdeKa9p1XwSHQXCDIjW5mzz4DmsjQghgR0rxYOTCTDYqF001MpBxf9m');
    var contributeButton = document.getElementById('contribute-btn');

    contributeButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint created in step 3.
        fetch('/create-checkout-session', {
            method: 'POST',
        })
            .then(function(response) {
                console.log(response.json);
                return response.json();
            })
            .then(function(session) {
                console.log(session);
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function(result) {
                // If `redirectToCheckout` fails due to a browser or network error, should display the localized error message to the customer using `error.message`.
                console.log(result);
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
    });

</script>
{% endblock %}