{% extends "base.html" %}
{% block content %}
<div class="row p-3 nh-page-first-row rounded nh-page-first-row3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>Fellowship And Other Events</h1><br />
        <p class="nh-h4 nh-center">To build and foster relationships within the church, as well as welcome new comers, we have a number of
            regularly scheduled events and small groups that meet. Please contact us for details.</p>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}