{% extends "base.html" %}
{% block content %}
<div class="bg-light p-3 rounded">
    <div class="">
    <h1>Events On Our Calendar</h1>
    <p class="nh-body">Yahweh, don't rebuke me in your anger, neither discipline me in your wrath. Have mercy on me, Yahweh, for I am faint. Yahweh, heal me, for my bones are troubled. My soul is also in great anguish. But you, Yahweh—how long? Return, Yahweh. Deliver my soul, and save me for your loving kindness' sake. For in death there is no memory of you. In Sheol, who shall give you thanks? I am weary with my groaning. Every night I flood my bed. I drench my couch with my tears. My eye wastes away because of grief. It grows old because of all my adversaries. Depart from me, all you workers of iniquity, for Yahweh has heard the voice of my weeping. Yahweh has heard my supplication. Yahweh accepts my prayer. May all my enemies be ashamed and dismayed. They shall turn back, they shall be disgraced suddenly.</p>
    <p class="lead nh-button" style="display:none;">
        <a href="#" class="btn btn-lg btn-primary" role="button">Learn More</a>
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="display:none;">Learn more</a>
    </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}