{% extends "base.html" %}
{% block content %}
<div class="row p-1 nh-page-first-row rounded nh-page-first-row3" style="min-height:100px;">
    <div class="col-12">
        <h1 style="padding-top: 20px;;">Guest Preachers</h1>
    </div>
</div>
<div id="viewer" class="row p-1" style="background: black; margin: 1px -10px 0px -10px;">
    <div class="col-xl-1 col-xxl-2"></div>
    <div class="col-xl-10 col-xxl-8">
        <div class="nh-video-container rounded">
            <iframe class="nh-video-element" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-xl-1 col-xxl-2"></div>
</div>
<div class="row" style="height:10px;"></div>
<div class="row p-3 rounded">
    <div class="p-0 col-xl-2 col-md-2 col-sm-3 col-4">
        <div class="nh-face-icon"></div>
    </div>
    <div class="p-0 col-xl-4 col-md-5 col-sm-9 col-8">
            <b>Dr. Charles Hitibidal: June 2022</b>
            <ul>
                <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/Cah1tQwbgeY" href="#">12 June Session One</a></li>
                <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/6hB_vMgnfdY" href="#">12 June Session Two</a></li>
                <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/3tc8JuJFsNI" href="#">12 June Session Three</a></li>
                <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/qy3-vK56b0g" href="#">14 June Session</a></li>
                <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/mOgyQNCrMXM" href="#">15 June Session</a></li>
            </ul>
    </div>
    <div class="p-0 col-xl-6 col-md-5 col-sm-12">
        Learn more about Dr. Hitibidal at <a target="_blank" href="https://www.wttministries.com/">Walk Through Time Ministries</a> and <a target="_blank" href="https://www.prophecyinthespotlight.com/">Prophecy in the Spotlight</a>.
    </div>
</div>
<div class="row p-3 rounded">
    <div class="p-0 col-xl-2 col-md-2 col-sm-3 col-4">
        <div class="nh-dl-logo"></div>
    </div>
    <div class="p-0 col-xl-4 col-md-5 col-sm-9 col-8">
            <b>Evangelist Danny Long</b>
            <ul>
                <li>2024</li>
                <ul>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/NSh5ckrERN4" href="#">30 June 2024 AM Service</a></li>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/Rrh8a7Am5KQ" href="#">30 June 2024 PM Service</a></li>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/ybfkEBlwVYc" href="#">1 July 2024 PM Service</a></li>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/9q_zT4EEbrg" href="#">2 July 2024 PM Service</a></li>
                </ul>
                <li>2023</li>
                <ul>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/yysWxrLtOZI" href="#">3 July 2023</a></li>
                </ul>
                <li>2022</li>
                <ul>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/BPug5ZliomA" href="#">3 July 2022 AM Service</a></li>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/pPB2zDeXaUk" href="#">3 July 2022 PM Service</a></li>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/eZC61AYWixQ" href="#">6 July 2022</a></li>
                </ul>
                <li>2021</li>
                <ul>
                    <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/X_tZxywMJWM" href="#">4 July 2021</a></li>
                </ul>
            </ul>
            
    </div>
    <div class="p-0 col-xl-6 col-md-5 col-sm-12">
        Brother Danny Long is a powerful evangelist and a long time friend of New Hope Baptist Church.
    </div>
</div>
<div class="row p-3 rounded">
    <div class="p-0 col-xl-2 col-md-2 col-sm-3 col-4">
        <div class="nh-jh-logo"></div>
    </div>
    <div class="p-0 col-xl-4 col-md-5 col-sm-9 col-8">
            <b>Jacob Hughes</b>
            <ul>
                <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/aLpupxMzk-c" href="#">20 February 2022</a></li>
            </ul>
    </div>
    <div class="p-0 col-xl-6 col-md-5 col-sm-12">
        Brother Jacob Hughes is a missionary to Moldova.
    </div>
</div>
<div class="row p-3 rounded">
    <div class="p-0 col-xl-2 col-md-2 col-sm-3 col-4">
        <div class="nh-ms-logo"></div>
    </div>
    <div class="p-0 col-xl-4 col-md-5 col-sm-9 col-8">
            <b>Matthew Shields</b>
            <ul>
                <li><a class="nh-watch-btn" data-url="https://www.youtube.com/embed/3pqesjgws6Q" href="#">8 May 2022</a></li>
            </ul>
    </div>
    <div class="p-0 col-xl-6 col-md-5 col-sm-12">
        Brother Matthew Shields is a missionary to Aruba.
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var $buttons = $('.nh-watch-btn');
        var $viewerElement = $('#viewer');
        var $iframe = $('.nh-video-element');
        $viewerElement.hide();

        $buttons.on('click', function(obj){
            var $target = $(obj.target);
            var $titleElement = $target.parent().siblings('h5');
            var title = $titleElement.text();
            var url = $target.data('url');
            $iframe.attr('src', url);
            $iframe.attr('title', title);
            $viewerElement.show();
        });
    });
</script>
{% endblock %}