{% extends "base.html" %}
{% block content %}
<div class="row p-3 rounded nh-page-first-row nh-page-first-row1">
    <div class="col-lg-3 col-sm-2 col-xs-12"></div>
    <div class="col-lg-9 col-sm-10 col-xs-12">
        <h1>New Hope Baptist Church</h1>
        <h2>
            At quis risus sed vulputate odio ut.<br />Cras ornare arcu dui vivamus arcu felis bibendum ut
            tristique.<br />Sit amet massa vitae tortor condimentum lacinia quis vel.
        </h2>
        <a href="{{ url_for('services') }}" class="btn btn-primary">Visit Us This Sunday</a>
    </div>
</div>
<div class="row p-3">
    <div class="col-xl-9 col-sm-7 col-xs-12">
        <h2>Welcome!</h2>
        <p class="nh-body">Integer malesuada nunc vel risus commodo. Ornare arcu dui vivamus arcu felis bibendum ut tristique. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Tincidunt arcu non sodales neque sodales ut etiam sit amet. Nulla aliquet enim tortor at auctor urna. Imperdiet proin fermentum leo vel orci porta non pulvinar. Felis eget nunc lobortis mattis aliquam faucibus purus. Ornare aenean euismod elementum nisi quis eleifend quam. Eleifend donec pretium vulputate sapien nec sagittis. Et netus et malesuada fames. Aliquam nulla facilisi cras odio eu.</p>
        <a href="{{ url_for('services') }}" class="btn btn-primary">Visit Us This Sunday</a>
    </div>
    <div class="col-xl-3 col-sm-5 col-xs-12">
        <h4>Weekly Gatherings</h4>
        <div>
            Sunday
            <ul>
                <li>
                    9:45am Sunday School
                </li>
                <li>
                    10:45am Worship Service
                </li>
                <li>
                    6:00pm Evening Service
                </li>
            </ul>
            Wednesday
            <ul>
                <li>7:00pm Bible study</li>
            </ul>
            <div>
                <h4>Location</h4>
                <p>
                    2011 Lincoln Rd.<br />Allegan, MI 49010
                </p>
                <a href="https://www.google.com/maps/place/New+Hope+Baptist+Church/@42.5647793,-85.9060064,17z/data=!4m13!1m7!3m6!1s0x8819dddb6af4af59:0xd5ab572eb3aeb0b9!2s2011+Lincoln+Rd,+Allegan,+MI+49010!3b1!8m2!3d42.5647793!4d-85.9038177!3m4!1s0x8819dddba6f63a7b:0xa3947c874b8f1ab!8m2!3d42.5647926!4d-85.9038009"
                    target="_blank"><strong style="text-shadow:none;">Get Directions →</strong></a>
            </div>
        </div>
    </div>
        {% endblock %}

        {% block scripts %}
        <script>

        </script>
        {% endblock %}