{% extends "base.html" %}
{% block content %}
    <div class="row p-3 rounded nh-page-first-row">
        <div class="col-lg-3 col-sm-2 col-xs-12"></div>
        <div class="col-lg-9 col-sm-10 col-xs-12">
            <h1 style="font-variant: small-caps;">New Hope Baptist Church</h1>
            <h2>
                At quis risus sed vulputate odio ut.<br/>Cras ornare arcu dui vivamus arcu felis bibendum ut tristique.<br />Sit amet massa vitae tortor condimentum lacinia quis vel. 
            </h2>
            <a href="#" class="btn btn-primary">Visit Us This Sunday</a>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-xl-9 col-sm-7 col-xs-12">
            <h2>Welcome!</h2>
            <p class="nh-body">Give ear to my words, Yahweh. Consider my meditation. Listen to the voice of my cry, my King and my God; for to you do I pray. Yahweh, in the morning you shall hear my voice. In the morning I will lay my requests before you, and will watch expectantly. For you are not a God who has pleasure in wickedness. Evil can't live with you. The arrogant shall not stand in your sight. You hate all workers of iniquity. You will destroy those who speak lies. Yahweh abhors the bloodthirsty and deceitful man. But as for me, in the abundance of your loving kindness I will come into your house. I will bow toward your holy temple in reverence of you.</p>
            <a href="#" class="btn btn-primary">Visit Us This Sunday</a>
        </div>
        <div class="col-xl-3 col-sm-5 col-xs-12">
            <h4>Weekly Gatherings</h4>
            <div>
                Sunday
                <ul>
                    <li>
                        9:45am Sunday School
                    </li>
                    <li>
                        10:45am Worship Service
                    </li>
                    <li>
                        6:00pm Evening Service
                    </li>
                </ul>
                Wednesday
                <ul>
                    <li>7:00pm Bible study</li>
                </ul>
            <div>
            <h4>Location</h4>
            <p>
                2011 Lincoln Rd.<br />Allegan, MI 49010
            </p>
            <a href="https://www.google.com/maps/place/New+Hope+Baptist+Church/@42.5647793,-85.9060064,17z/data=!4m13!1m7!3m6!1s0x8819dddb6af4af59:0xd5ab572eb3aeb0b9!2s2011+Lincoln+Rd,+Allegan,+MI+49010!3b1!8m2!3d42.5647793!4d-85.9038177!3m4!1s0x8819dddba6f63a7b:0xa3947c874b8f1ab!8m2!3d42.5647926!4d-85.9038009" target="_blank"><strong style="text-shadow:none;">Get Directions →</strong></a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    
</script>
{% endblock %}