{% extends "base.html" %}
{% block content %}
<div id="viewer" class="row p-1" style="background: black; margin: 1px -6px 0px -6px;">
    <div class="col-xl-1 col-xxl-2"></div>
    <div class="col-xl-10 col-xxl-8">
        <div class="nh-video-container rounded">
            <iframe class="nh-video-element" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-xl-1 col-xxl-2"></div>
</div>
<div class="row p-1">
<div class="col-12" style="padding: 0;">
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner rounded">
        {% for message in model.messages %}
        <div class="carousel-item {{ 'active' if message.sequence == 0 else '' }}"> 
            <img src="{{ url_for('static', filename=message.image_file) }}" class="d-block w-100" alt="{{ message.image_description }}" />
            <input type="hidden" id="message-id" value="{{message.sequence}}" />
            <div class="container">
                <div class="carousel-caption {{ 'text-start' if message.sequence == 0 else ('text-end' if message.sequence == (model.messages|length - 1) else '') }} ">
                    <h1>{{ message.timestamp.strftime('%d %b %Y') }}</h1>
                    <h5>{{ message.title }}</h5>
                    <!-- <h6>{{ message.description }}</h6> MCY - I'd like to work this in. -->
                    <p><a class="btn btn-lg btn-primary nh-watch-btn" data-url="https://www.youtube.com/embed/{{ message.youtube_id }}" href="#">Watch</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
</div>
<div class="row p-1">
    <div class="col-12">
        <div class="nh-h4">The last three sunday morning services are always here.</div>
    </div>
</div>
<hr />
<div class="row p-2">
    <div class="col-12">
        <div class="h5">June 2022: Dr. Charles Hitibidal</div>
        <div>Dr. Hitibidal of <em>Walk Through Time Ministries</em> and <em>Prophecy in the Spotlight</em> joined us the week of June 12 2022 discussing current events and Bible prophecy. <a href="{{ url_for('guests') }}">Watch him and our other guest preachers as well!</a></div>
    </div>
</div>
<div class="row p-2">
    <div class="col-12">
        <div class="h5">Past services at New Hope Baptist Church</div>
        <div>Visit <a href="{{ url_for('message_archive') }}">our archive</a> to see more message from Pastor Butler and others from New Hope.</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var $buttons = $('.nh-watch-btn');
        var $viewerElement = $('#viewer');
        var $iframe = $('.nh-video-element');
        $viewerElement.hide();

        $buttons.on('click', function(obj){
            var $target = $(obj.target);
            var $titleElement = $target.parent().siblings('h5');
            var title = $titleElement.text();
            var url = $target.data('url');
            $iframe.attr('src', url);
            $iframe.attr('title', title);
            $viewerElement.show();
        });
    });
</script>
{% endblock %}