{% extends "base.html" %}
{% block content %}
<div class="row p-1">
<div class="col-12">
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner rounded">
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='storm.jpg') }}" class="d-block w-100" alt="Storm" />

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>30 May 2021</h1>
                    <h5>Remember The Lord Thy God</h5>
                    <p><a class="btn btn-lg btn-primary nh-watch-btn" data-url="https://www.youtube.com/embed/05M_RkGE2Ts" data-title="Remember The Lord Thy God" href="#">Watch</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='man-walking-with-bag.jpg') }}" class="d-block w-100" alt="Walking Man" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>23 May 2021</h1>
                    <h5>A great and inspiring description...</h5>
                    <p><a class="btn btn-lg btn-primary nh-watch-btn" data-url="https://www.youtube.com/embed/05M_RkGE2Ts" data-title="Message Two" href="#">Watch</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='bible-on-rock.jpg') }}" class="d-block w-100" alt="Bible" />

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>16 May 2021</h1>
                    <h5>A great and inspiring description...</h5>
                    <p><a class="btn btn-lg btn-primary nh-watch-btn" data-url="https://www.youtube.com/embed/05M_RkGE2Ts" data-title="Message Three" href="#">Watch</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
</div>
<div id="viewer" class="row p-1">
    <div class="col-12">
        <div class="nh-video-container rounded">
            <iframe class="nh-video-element" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row p-3">
    <div class="col-12">
        <p class="nh-h4">The last three sunday morning services are always here.</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var $buttons = $('.nh-watch-btn');
        var $viewerElement = $('#viewer');
        var $iframe = $('.nh-video-element');
        $viewerElement.hide();

        $buttons.on('click', function(obj){
            var $target = $(obj.target);
            var $titleElement = $target.parent().siblings('h5');
            var title = $titleElement.text();
            var url = $target.data('url');
            $iframe.attr('src', url);
            $iframe.attr('title', title);
            $viewerElement.show();
        });
    });
</script>
{% endblock %}