{% extends "base.html" %}
{% block content %}
<div class="row p-3 nh-page-first-row rounded nh-page-first-row3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>When And Where To Find Us</h1>
        <p class="nh-h4 nh-center">Check us out some Sunday morning to get a glimpse of what New Hope is really all about.</p>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row p-3 rounded">
    <div class="col-xl-9 col-sm-7 col-xs-12">
        <h4>Hi, and welcome to New Hope Baptist Church</h4>
        <p>
            At ultrices mi tempus imperdiet nulla. Pharetra et ultrices neque ornare aenean euismod elementum nisi. Quis lectus nulla at volutpat diam ut venenatis tellus in. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Proin libero nunc consequat interdum. Scelerisque felis imperdiet proin fermentum leo. Quis varius quam quisque id diam. Tincidunt ornare massa eget egestas purus viverra. Sit amet volutpat consequat mauris nunc congue nisi. Congue eu consequat ac felis. Vivamus at augue eget arcu dictum varius duis. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend.
        </p>
    </div>
    <div class="col-xl-3 col-sm-5 col-xs-12">
        <h4>Weekly Gatherings</h4>
        <div>
            Sunday
            <ul>
                <li>
                    9:45am Sunday School
                </li>
                <li>
                    10:45am Worship Service
                </li>
                <li>
                    6:00pm Evening Service
                </li>
            </ul>
            Wednesday
            <ul>
                <li>7:00pm Bible study</li>
            </ul>
            <div>
                <h4>Location</h4>
                <p>
                    2011 Lincoln Rd.<br />Allegan, MI 49010
                </p>
                <a href="https://www.google.com/maps/place/New+Hope+Baptist+Church/@42.5647793,-85.9060064,17z/data=!4m13!1m7!3m6!1s0x8819dddb6af4af59:0xd5ab572eb3aeb0b9!2s2011+Lincoln+Rd,+Allegan,+MI+49010!3b1!8m2!3d42.5647793!4d-85.9038177!3m4!1s0x8819dddba6f63a7b:0xa3947c874b8f1ab!8m2!3d42.5647926!4d-85.9038009"
                    target="_blank"><strong style="text-shadow:none;">Get Directions →</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}