{% extends "base.html" %}
{% block content %}
<div class="row p-3 nh-page-first-row rounded nh-page-first-row2">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>When And Where To Find Us</h1>
        <p class="nh-h4 nh-center">Check us out some Sunday morning to get a glimpse of what New Hope is really all about.</p>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row p-3 rounded">
    <div class="col-xl-9 col-sm-7 col-xs-12">
        <h4>Hi, and welcome to New Hope Baptist Church</h4>
        <p>
            We would like to extend a personal invitation for you to visit New Hope Baptist Church; a place where you can find God’s love in a personal way. Our services are designed with the entire family in mind. We are committed to helping you know Christ and grow strong spiritually. 
        </p>
        <p>
            <span class="nh-accent-text">God’s Word is not only a well of joy, it contains an answer for all of life’s problems, and Jesus can meet your every need.</span> From our Bible training classes for every age, dynamic youth and children’s programs, quality nurseries, and a wide range of family-oriented activities, you will sense a genuinely friendly atmosphere that reflects the love of our Lord Jesus Christ. We desire for you to experience the abundant life that comes only through knowing Jesus Christ as your personal Savior.
        </p>
        <div id="map" style="display: none;"></div>
        <hr />
    </div>
    <div class="col-xl-3 col-sm-5 col-xs-12">
        <h4>Weekly Gatherings</h4>
        <div>
            Sunday
            <ul>
                <li>
                    9:45am Sunday School
                </li>
                <li>
                    10:45am Worship Service
                </li>
                <!-- <li>
                    6:00pm Evening Service
                </li> -->
            </ul>
            Wednesday
            <ul>
                <li>7:00pm Bible study</li>
            </ul>
            <div>
                <h4>Location</h4>
                <p>
                    2011 Lincoln Rd.<br />Allegan, MI 49010
                </p>
                <a href="https://www.google.com/maps/place/New+Hope+Baptist+Church/@42.5647793,-85.9060064,17z/data=!4m13!1m7!3m6!1s0x8819dddb6af4af59:0xd5ab572eb3aeb0b9!2s2011+Lincoln+Rd,+Allegan,+MI+49010!3b1!8m2!3d42.5647793!4d-85.9038177!3m4!1s0x8819dddba6f63a7b:0xa3947c874b8f1ab!8m2!3d42.5647926!4d-85.9038009"
                    target="_blank"><strong style="text-shadow:none;">Get Directions →</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initMap(){
        var mapDiv = document.getElementById("map");
        var myLocation = { lat: 42.5647793, lng: -85.9060064 };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: myLocation,
        });
        var marker = new google.maps.Marker({
            position: myLocation,
            map: map,
        });
    }
</script>
<!-- <script async src="https://maps.googleapis.com/maps/api/js?key={{ model.googleApiKey }}&callback=initMap"></script> -->
{% endblock %}