{% extends "base.html" %}
{% block content %}
<div class="bg-light p-3 rounded">
    <div class="">
    <h1>Transaction Complete!</h1>
    <p class="nh-body">Thank you for your donation.</p>
    <p class="lead nh-button" style="display:none;">
        <a href="#" class="btn btn-lg btn-primary" role="button">Learn More</a>
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="display:none;">Learn more</a>
    </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}